@charset "UTF-8";


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #f9f9f9;
    font-family: Georgia , sans-serif;
    font-size: 20px;
    line-height: 1.429;
    color: black;
}
.button{
    height: 100px;
    width: 500px;
    margin-top: 50px;
}

.color {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

